<!DOCTYPE <html>
<html lang=”en”>
<head>
  <meta charset=”UTF-8">
  <title>TESTE</title>
  <link rel=”stylesheet” type=”text/css”
    href=”/assets/colocoAquiMeu.css”>
</head>
<body>
  <h2>Criar Turma<h2>
  <form action="api/turma"
    method="POST">
    <input type="text" placeholder="nome turma" name="nome" />
    <input type="text" placeholder="nome curso" name="curso" />
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
