<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Turmas</title>
</head>
<body>
  <h2>Lista de Turmas<h2>
  <table border="1">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Curso</td>
        <td>#</td>
      </tr>
    </thead>
    <tbody>
      <% turmas.forEach(function(data) { %>
        <tr>
          <td><%= data.nome %></td>
          <td><%= data.curso %></td>
          <td><a href="/api/edit/<%= data._id %>">Edit</a> | 
            <a href="/api/delete/<%= data._id %>">Delete</a></td>
        </tr>
     <% }) %>
   </tbody>
   <button><a href="/">Back</a></button>
   <script>
    function confirmation(msg, url) {
      if(confirm(msg)) {
        window.location.href = url;
      }else{ false; }
    }
    </script>
</body>
</html>